<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Scenario: Migration to the Cloud</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Tech Media Inc. company provides solutions in media and publishing area to customers. It delivers multiple products to manage content, configure and advertise it to end-users. The main clients are small and medium size publishing companies located in Europe. The core product is Eagle platform, it is web based application, that provides end-users with customized content and advertising. Publishing companies work with separate ManageIt product where they create end-users specific content. Along with growing mobile industry, Tech Media Inc. developed mobile application to provide mobile and tablets users with specialized content.

            The current infrastructure and environment for all products are managed internally by Tech Media Inc. in own data center. With growing amount of client and end-users,Tech Media Inc. is faced with limitations of local data center and qualified resources issues. CIO of the company raised concerns regarding urgent need of migration solution into the cloud.

            You are assigned as architect for this activity, and responsible for proposing solution for migration into the cloud.
        </div>
        <div class="col-md-6">
            <img src="/images/overview.png" width="500px" />
        </div>
    </div>
</div>

