<!DOCTYPE html>
<html ng-app="cloud-application">
<head>
    <title>Cloud Application</title>
    @Scripts.Render("~/javascript/libs")
    @Styles.Render("~/styles/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">.NET Cloud Application</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/content" title="Content">Content</a></li>
                    <li><a href="#/database" title="Database">Database</a></li>
                    <li><a href="#/message-queue" title="Message Queue">Message Queue</a></li>
                    <li><a href="#/mail" title="Mail">Mail</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container content">
        <ng-view />
    </div>
</body>
</html>